@charset "UTF-8";
@import url("main.css");

:root{
    --text_color: #333;
    --accent_color: #555;
    --background_color: #fff;
    --background_color_hover: #fafafa;
    --border: 1px solid #aaa;
    --border_hover: 1px solid #aaa;
}

