@charset "UTF-8";

:root{
    --main_color: #00aeb1;
}

/* general */

*{
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

/* header */
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: calc(100vw - 32px);
    height: 64px;

    border-radius: 8px;
    box-shadow: 0 0 8px #ccc;

    margin: 16px;
    padding: 0 16px;
}

header>#header_icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header>nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header>nav>ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header>nav>ul>li{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    list-style: none;
}

header>nav>ul>li>a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin: 0 8px;
    padding: 8px;

    color: #333;
}